/* #container {
    display: grid;

} */

header {
    position: relative;
    text-align: center;
}

h1 {
    color: whitesmoke;
    text-align: center;
    display: inline-block;
}

body {
    background: gray;
}

#table-container {
    text-align: center;
}

table {
    width: 700px;
    height: 600px;
    border-spacing: 0;
    display: inline-block;
    /* border: 1px solid whitesmoke; */
}

td {
    width: 100px;
    height: 100px;
    border: 1px solid whitesmoke;
    border-radius: 50%;
    color: white;
    text-align: center;
}